In [1]:
import pandas as pd

In [2]:
from functools import reduce

In [3]:
df_rnastralign = pd.read_pickle('/Users/alicegao/work/psi-lab-sandbox/rna_ss/data_processing/e2efold/data/rnastralign.pkl.gz', compression='gzip')

In [4]:
df_rfam = pd.read_pickle('/Users/alicegao/work/psi-lab-sandbox/rna_ss/data_processing/rna_cg/data/rfam.pkl')

In [5]:
df_s_processed_1 = pd.read_pickle('/Users/alicegao/work/psi-lab-sandbox/rna_ss/data_processing/rna_cg/data/s_processed.pkl')
df_s_processed_2 = pd.read_pickle('/Users/alicegao/work/psi-lab-sandbox/rna_ss/data_processing/rna_cg/data/s_processed_test.pkl')
df_s_processed = pd.concat([df_s_processed_1, df_s_processed_2])

In [6]:
df_pdb_250 = pd.read_pickle('/Users/alicegao/work/psi-lab-sandbox/rna_ss/data_processing/pdb_250/data/pdb_250.pkl')

In [7]:
df_rfam = df_rfam.rename(columns={'seq_id': 'seq_id_rfam'})

In [8]:
df_rnastralign = df_rnastralign.rename(columns={'seq_id': 'seq_id_rnastralign'})

In [9]:
df_s_processed = df_s_processed.rename(columns={'seq_id': 'seq_id_sprocessed'})

In [10]:
df_pdb_250 = df_pdb_250.rename(columns={'seq_id': 'seq_id_pdb250'})

In [11]:
len(df_rfam)

151

In [12]:
len(df_rnastralign)

37138

In [13]:
len(df_s_processed)

6247

In [14]:
len(df_pdb_250)

241

In [16]:
# join on sequence
# df = pd.merge(pd.merge(df_rfam, df_rnastralign, on='seq', how='outer'), df_s_processed, on='seq', how='outer')

df = reduce(lambda left,right: pd.merge(left,right,on='seq',how='outer'), 
           [df_rfam, df_rnastralign, df_s_processed, df_pdb_250])

In [17]:
df.head()

,len_x,one_idx_x,seq,seq_id_rfam,one_idx_y,seq_id_rnastralign,source_file,len_y,one_idx_x,seq_id_sprocessed,category,len,one_idx_y,seq_id_pdb250
0,117.0,"([0, 1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 16, 17, 1...",UUCGGUGGUUAUAGCGGUGGGGAAACACCCGGUCCCAUUCCGAACC...,RF00001_A,"([0, 1, 2, 3, 4, 5, 6, 7, 13, 14, 15, 16, 17, ...",./RNAStrAlign/5S_rRNA_database/Bacteria/B00855.ct,raw_data/rnastralign_all/train.pickle,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,150.0,"([32, 33, 35, 36, 43, 44, 45, 46, 47, 58, 59, ...",UAGCUUCAGCGAUGGAUCGGUUGCAUCGAGUAUCGAUGAAGAACGC...,RF00002_B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,161.0,"([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, ...",AUACUUACCUGGACGGGGUCAAUGGAUGAUCUAUAAGGUCCAUGGC...,RF00003_B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,145.0,"([6, 7, 8, 10, 11, 12, 13, 46, 47, 48, 49, 50,...",AUAUCUUCUCGGCUAUUUAGCUAAGAUCAAGUUAUUAAACUGUUCU...,RF00004_A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,72.0,"([0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 25, 26, ...",GGGCCCAUAGCUCAGUGGUAGAGUGCCUCCUUUGCAAGGAGGAUGC...,RF00005_A,"([0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 20, 21, ...",./RNAStrAlign/tRNA_database/tdbD00000012.ct,raw_data/rnastralign_all/train.pickle,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
# len(df[~df['seq_id_rfam'].isna() & ~df['seq_id_rnastralign'].isna()])

In [19]:
# len(df[~df['seq_id_rfam'].isna() & ~df['seq_id_sprocessed'].isna()])

In [20]:
# len(df[~df['seq_id_rnastralign'].isna() & ~df['seq_id_sprocessed'].isna()])

In [21]:
names = ['rfam', 'rnastralign', 'sprocessed', 'pdb250']

for i in range(len(names)):
    for j in range(i+1, len(names)):
        print(names[i], names[j], len(df[~df['seq_id_{}'.format(names[i])].isna() & ~df['seq_id_{}'.format(names[j])].isna()]))

rfam rnastralign 17
rfam sprocessed 1
rfam pdb250 0
rnastralign sprocessed 878
rnastralign pdb250 71
sprocessed pdb250 69