In [1]:
import numpy as np
import pandas as pd
from dgutils.pandas import add_column, add_columns

/Users/alicegao/anaconda2/envs/dg_work/lib/python2.7/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

In [2]:
df_new = pd.read_pickle('result/test.pkl')

In [3]:
df_new_2 = pd.read_pickle('result/test_4.pkl')

In [4]:
df_new_3 = pd.read_pickle('result/test_5.pkl')

In [5]:
df_old = pd.read_pickle('result/test_2.pkl')

In [6]:
df_old_50 = pd.read_pickle('result/test_3.pkl')

In [7]:
df_new = add_columns(df_new, ['sensitivity_max', 'sensitivity_median'], 
                     ['sensitivity'], lambda x: (np.nanmax(x), np.nanmedian(x)))
df_new = add_columns(df_new, ['ppv_max', 'ppv_median'],
                    ['ppv'], lambda x: (np.nanmax(x), np.nanmedian(x)))

df_new_2 = add_columns(df_new_2, ['sensitivity_max', 'sensitivity_median'], 
                     ['sensitivity'], lambda x: (np.nanmax(x), np.nanmedian(x)))
df_new_2 = add_columns(df_new_2, ['ppv_max', 'ppv_median'],
                    ['ppv'], lambda x: (np.nanmax(x), np.nanmedian(x)))

df_new_3 = add_columns(df_new_3, ['sensitivity_max', 'sensitivity_median'], 
                     ['sensitivity'], lambda x: (np.nanmax(x), np.nanmedian(x)))
df_new_3 = add_columns(df_new_3, ['ppv_max', 'ppv_median'],
                    ['ppv'], lambda x: (np.nanmax(x), np.nanmedian(x)))


df_old = add_columns(df_old, ['sensitivity_max', 'sensitivity_median'], 
                     ['sensitivity'], lambda x: (np.nanmax(x), np.nanmedian(x)))
df_old = add_columns(df_old, ['ppv_max', 'ppv_median'],
                    ['ppv'], lambda x: (np.nanmax(x), np.nanmedian(x)))

df_old_50 = add_columns(df_old_50, ['sensitivity_max', 'sensitivity_median'], 
                     ['sensitivity'], lambda x: (np.nanmax(x), np.nanmedian(x)))
df_old_50 = add_columns(df_old_50, ['ppv_max', 'ppv_median'],
                    ['ppv'], lambda x: (np.nanmax(x), np.nanmedian(x)))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

HBox(children=(IntProgress(value=1, bar_style=u'info', max=1), HTML(value=u'')))

In [8]:
df_new.describe()

              len     ppv_max  ppv_median  sensitivity_max  sensitivity_median
count  151.000000  151.000000  151.000000       151.000000          151.000000
mean   136.298013    0.433703    0.178315         0.395971            0.166712
std    102.036451    0.268224    0.191523         0.279775            0.195466
min     23.000000    0.000000    0.000000         0.000000            0.000000
25%     67.000000    0.224747    0.000000         0.192651            0.000000
50%    104.000000    0.400000    0.111455         0.333333            0.096491
75%    158.500000    0.622024    0.290323         0.545455            0.259158
max    568.000000    1.000000    0.741667         1.000000            0.800000

In [9]:
df_new_2.describe()

              len     ppv_max  ppv_median  sensitivity_max  sensitivity_median
count  151.000000  151.000000  151.000000       151.000000          151.000000
mean   136.298013    0.405260    0.158243         0.162349            0.074856
std    102.036451    0.351052    0.241423         0.213790            0.151781
min     23.000000    0.000000    0.000000         0.000000            0.000000
25%     67.000000    0.116071    0.000000         0.026519            0.000000
50%    104.000000    0.333333    0.000000         0.071429            0.000000
75%    158.500000    0.666667    0.252904         0.219807            0.077677
max    568.000000    1.000000    1.000000         1.000000            1.000000

In [10]:
df_new_3.describe()

              len     ppv_max  ppv_median  sensitivity_max  sensitivity_median
count  151.000000  151.000000  151.000000       151.000000          151.000000
mean   136.298013    0.745432    0.529347         0.752480            0.550810
std    102.036451    0.261173    0.281805         0.243614            0.299787
min     23.000000    0.000000    0.000000         0.000000            0.000000
25%     67.000000    0.507895    0.325000         0.606602            0.326305
50%    104.000000    0.826087    0.551971         0.803571            0.551724
75%    158.500000    1.000000    0.738443         1.000000            0.800000
max    568.000000    1.000000    1.000000         1.000000            1.000000

In [11]:
df_old.describe()

              len     ppv_max  ppv_median  sensitivity_max  sensitivity_median
count  151.000000  151.000000       151.0       151.000000               151.0
mean   136.298013    0.092033         0.0         0.018652                 0.0
std    102.036451    0.192132         0.0         0.030054                 0.0
min     23.000000    0.000000         0.0         0.000000                 0.0
25%     67.000000    0.000000         0.0         0.000000                 0.0
50%    104.000000    0.000000         0.0         0.000000                 0.0
75%    158.500000    0.090909         0.0         0.031250                 0.0
max    568.000000    1.000000         0.0         0.250000                 0.0

In [12]:
df_old_50.describe()

              len     ppv_max  ppv_median  sensitivity_max  sensitivity_median
count  151.000000  151.000000  151.000000       151.000000          151.000000
mean   136.298013    0.512283    0.302487         0.634147            0.390545
std    102.036451    0.266845    0.221095         0.250554            0.242271
min     23.000000    0.000000    0.000000         0.000000            0.000000
25%     67.000000    0.283482    0.141881         0.423641            0.202410
50%    104.000000    0.500000    0.258333         0.652174            0.384615
75%    158.500000    0.671171    0.420347         0.857143            0.547727
max    568.000000    1.000000    1.000000         1.000000            1.000000

In [13]:
df_new[df_new.sensitivity_max > 0.9].iloc[0]

f_measure             [nan, 0.7499999999999999, 0.625, nan, 0.266666...
len                                                                  26
one_idx                 ([5, 6, 7, 8, 9, 10], [20, 19, 18, 17, 16, 15])
ppv                   [0.0, 0.6, 0.5, 0.0, 0.222222222222, 0.4444444...
ppv_max                                                             0.6
ppv_median                                                     0.291667
pred_idx              [([0, 1, 2, 3, 4, 5, 6, 7], [10, 9, 22, 21, 20...
sensitivity           [0.0, 1.0, 0.8333333333333334, 0.0, 0.33333333...
sensitivity_max                                                       1
sensitivity_median                                             0.416667
seq                                          AAAACGGUCCUUAUCAGGACCAAACA
seq_id                                                        RF00032_B
Name: 25, dtype: object

In [14]:
df_old[df_old.seq == 'AAAACGGUCCUUAUCAGGACCAAACA'].iloc[0]

f_measure             [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
len                                                                  26
one_idx                 ([5, 6, 7, 8, 9, 10], [20, 19, 18, 17, 16, 15])
ppv                   [nan, nan, nan, nan, nan, 0.0, nan, 0.0, 0.0, ...
ppv_max                                                               0
ppv_median                                                            0
pred_idx              [([], []), ([], []), ([], []), ([], []), ([], ...
sensitivity           [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
sensitivity_max                                                       0
sensitivity_median                                                    0
seq                                          AAAACGGUCCUUAUCAGGACCAAACA
seq_id                                                        RF00032_B
Name: 25, dtype: object

In [15]:
df_new.head()

,f_measure,len,one_idx,ppv,ppv_max,ppv_median,pred_idx,sensitivity,sensitivity_max,sensitivity_median,seq,seq_id
0,"[0.7714285714285715, 0.611111111111111, 0.7536...",117,"([0, 1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 16, 17, 1...","[0.72972972973, 0.564102564103, 0.722222222222...",0.781250,0.639319,"[([0, 1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 16, 17, ...","[0.8181818181818182, 0.6666666666666666, 0.787...",0.848485,0.696970,UUCGGUGGUUAUAGCGGUGGGGAAACACCCGGUCCCAUUCCGAACC...,RF00001_A
1,"[0.2413793103448276, 0.3188405797101449, 0.327...",150,"([32, 33, 35, 36, 43, 44, 45, 46, 47, 58, 59, ...","[0.21875, 0.255813953488, 0.285714285714, 0.28...",0.378378,0.241737,"[([1, 5, 25, 26, 27, 28, 34, 36, 37, 38, 39, 4...","[0.2692307692307692, 0.4230769230769231, 0.384...",0.538462,0.365385,UAGCUUCAGCGAUGGAUCGGUUGCAUCGAGUAUCGAUGAAGAACGC...,RF00002_B
2,"[0.024390243902439025, 0.03508771929824561, 0....",161,"([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, ...","[0.0238095238095, 0.0588235294118, 0.048780487...",0.285714,0.000000,"[([13, 16, 17, 18, 19, 27, 28, 29, 30, 33, 34,...","[0.025, 0.025, 0.05, 0.0, 0.0, 0.0, 0.0, 0.025...",0.200000,0.000000,AUACUUACCUGGACGGGGUCAAUGGAUGAUCUAUAAGGUCCAUGGC...,RF00003_B
3,"[0.30769230769230765, nan, 0.06779661016949153...",145,"([6, 7, 8, 10, 11, 12, 13, 46, 47, 48, 49, 50,...","[0.285714285714, 0.0, 0.0689655172414, 0.26923...",0.366667,0.133929,"[([39, 40, 41, 42, 43, 44, 51, 52, 53, 68, 69,...","[0.3333333333333333, 0.0, 0.06666666666666667,...",0.366667,0.100000,AUAUCUUCUCGGCUAUUUAGCUAAGAUCAAGUUAUUAAACUGUUCU...,RF00004_A
4,"[0.046511627906976744, 0.23529411764705882, na...",72,"([0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 25, 26, ...","[0.0454545454545, 0.307692307692, 0.0, 0.4375,...",0.500000,0.242647,"[([2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 20, 21, 22,...","[0.047619047619047616, 0.19047619047619047, 0....",0.333333,0.261905,GGGCCCAUAGCUCAGUGGUAGAGUGCCUCCUUUGCAAGGAGGAUGC...,RF00005_A

In [16]:
df_old.head()

,f_measure,len,one_idx,ppv,ppv_max,ppv_median,pred_idx,sensitivity,sensitivity_max,sensitivity_median,seq,seq_id
0,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",117,"([0, 1, 2, 3, 4, 5, 6, 7, 8, 13, 14, 16, 17, 1...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.0,"[([12, 29, 40, 54, 66, 72, 93], [72, 107, 90, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.0,UUCGGUGGUUAUAGCGGUGGGGAAACACCCGGUCCCAUUCCGAACC...,RF00001_A
1,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",150,"([32, 33, 35, 36, 43, 44, 45, 46, 47, 58, 59, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.090909,0.0,"[([0, 3, 18, 19, 23, 25, 28, 34, 52, 77], [131...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.038462,0.0,UAGCUUCAGCGAUGGAUCGGUUGCAUCGAGUAUCGAUGAAGAACGC...,RF00002_B
2,"[nan, nan, nan, nan, nan, nan, nan, nan, 0.075...",161,"([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.153...",0.153846,0.0,"[([19, 30, 31, 35, 58, 78, 98, 124, 141], [70,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05,...",0.050000,0.0,AUACUUACCUGGACGGGGUCAAUGGAUGAUCUAUAAGGUCCAUGGC...,RF00003_B
3,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",145,"([6, 7, 8, 10, 11, 12, 13, 46, 47, 48, 49, 50,...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.0,"[([21, 23, 30, 35, 41, 66, 85, 86, 96, 109, 11...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.0,AUAUCUUCUCGGCUAUUUAGCUAAGAUCAAGUUAUUAAACUGUUCU...,RF00004_A
4,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",72,"([0, 1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 25, 26, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.0,"[([0, 15, 21, 54], [16, 37, 32, 66]), ([10, 17...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.000000,0.0,GGGCCCAUAGCUCAGUGGUAGAGUGCCUCCUUUGCAAGGAGGAUGC...,RF00005_A