In [5]:
import numpy as np

In [1]:
seq = 'CGAAUUUAAUUAAUGAUUAAUCAUUUUAUAAACAAAACCCGGCUUAAAAUUAAGUUCGUUUU'
struct = '........((((((((....)))))...(((.(........(((((.)))))))).......'

In [2]:
def forna_url(seq, struct):
    url = "http://nibiru.tbi.univie.ac.at/forna/forna.html?id=url/name&sequence={}&structure={}".format(seq, struct)
    return url

In [8]:
def arr2db(arr):
    # TODO debug this code!!
    assert len(arr.shape) == 2
    assert arr.shape[0] == arr.shape[1]
    assert np.all((arr == 0) | (arr == 1))
    assert np.max(np.sum(arr, axis=0)) <= 1
    assert np.max(np.sum(arr, axis=1)) <= 1
    idx_pairs = np.where(arr == 1)
    idx_pairs = zip(idx_pairs[0], idx_pairs[1])

    db_str = ['.' for _ in range(len(arr))]
    for _i, _j in idx_pairs:
        i = min(_i, _j)
        j = max(_i, _j)
        db_str[i] = '('
        db_str[j] = ')'
    return ''.join(db_str)

In [9]:
def make_arr(l, one_idx):
    x = np.zeros((l, l))
    x[one_idx] = 1
    return x

In [16]:
# print forna_url(seq, struct)

In [6]:
seq = 'GGCCGACAGGAGUAAUUCCCGCCGAAACAGGGUUUUCACCCUUCCUUUCUUCGGGUGUCCUUCCUCGCGCCCGCAGGAC'
# struct = '.......(((((..((.((((..((((.(((((....)))))...))))..(((((((..))))).)))))))......'

In [7]:
pred_idx = (np.array([ 7,  8,  9, 10, 11, 14, 15, 17, 18, 19, 20, 23, 24, 25, 26, 28, 29,
       30, 31, 32, 51, 52, 53, 54, 55, 56, 57]), np.array([64, 63, 62, 61, 60, 57, 56, 54, 53, 52, 51, 48, 47, 46, 45, 41, 40,
       39, 38, 37, 72, 71, 70, 69, 68, 67, 66]))

In [10]:
x = make_arr(len(seq), pred_idx)

In [18]:
struct = arr2db(x)

In [26]:
# for _i, _s in enumerate(struct):
#     print _i, _s

In [32]:
pred_idx[1][np.where(pred_idx[0] == 7)][0]

64

In [ ]:
76   ENERGY = 0.1  RA7680
    1 G       0    2   72    1
    2 G       1    3   71    2
    3 G       2    4   70    3
    4 G       3    5   69    4
    5 G       4    6   68    5
    6 C       5    7   67    6
    7 G       6    8   66    7
    8 U       7    9    0    8
    9 A       8   10    0    9
   10 G       9   11   25   10
   11 C      10   12   24   11

In [49]:
# create a tmp .ct file

with open('/Users/alicegao/data/tmp/test_ct_file.ct', 'w') as f:
    f.write("{}\tENERGY = 0.1\tTEST\n".format(len(seq)))
    for i, a in enumerate(seq):
        if len(np.where(pred_idx[0] == i)[0]) > 0:
            pair_idx = pred_idx[1][np.where(pred_idx[0] == i)][0] + 1
        elif len(np.where(pred_idx[1] == i)[0]) > 0:
            pair_idx = pred_idx[0][np.where(pred_idx[1] == i)][0] + 1
        else:
            pair_idx = 0
        f.write("{}\t{}\t{}\t{}\t{}\t{}\n".format(i+1, a, i, i+2, pair_idx, i+1))

In [48]:
for a, b in zip(pred_idx[0], pred_idx[1]):
    print a, b

7 64
8 63
9 62
10 61
11 60
14 57
15 56
17 54
18 53
19 52
20 51
23 48
24 47
25 46
26 45
28 41
29 40
30 39
31 38
32 37
51 72
52 71
53 70
54 69
55 68
56 67
57 66

In [19]:
print forna_url(seq, struct)

http://nibiru.tbi.univie.ac.at/forna/forna.html?id=url/name&sequence=GGCCGACAGGAGUAAUUCCCGCCGAAACAGGGUUUUCACCCUUCCUUUCUUCGGGUGUCCUUCCUCGCGCCCGCAGGAC&structure=.......(((((..((.((((..((((.(((((....)))))...))))..(((((((..))))).)))))))......

In [25]:
# # can't reprent pesudoknow using dot-bracket notation???
# tmp_struct = list('.' * len(seq))

# tmp_struct[5] = '('
# tmp_struct[20] = ')'
# tmp_struct[10] = '('
# tmp_struct[30] = ')'

# tmp_struct = ''.join(tmp_struct)
# print forna_url(seq, tmp_struct)

http://nibiru.tbi.univie.ac.at/forna/forna.html?id=url/name&sequence=GGCCGACAGGAGUAAUUCCCGCCGAAACAGGGUUUUCACCCUUCCUUUCUUCGGGUGUCCUUCCUCGCGCCCGCAGGAC&structure=.....(....(.........).........)................................................